body {
  background: url('home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}
#name{
  position: absolute;
  top: 80px;
  left: 42%;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color: white;
  background-color: black;
}
.slogan {
  position: absolute;
  top: 30%;
  left: 25%;
  font-family: 'Quicksand', sans-serif;
  color: white;
  background-color: black;
}
.slogan h1{
  font-size: 40px;
}
.navigation{
  position: absolute;
}
#buttons{
  position: absolute;
  top: 15%;
  left: 50%;
}
#business{
  position: relative;
  right: 358px;
}
#pleasure{
  position: relative;
  left: 100px;
}
p {
  display: inline-block;
}
a{
  position: absolute;;
  top: 250px;
  left: 100%;
  border: solid black;
  border-width: 50px;
  border-radius: 5px;
  background-color: black;
  color: rgba(255, 255, 255, 1);
  vertical-align: middle;
  text-align: center;
  font-size: 50px;
  text-decoration: none;
  padding: 30px;
  font-family: 'Quicksand', sans-serif;
}
a:hover{
  /*color: black; */
  background-color: white;
}
/*@media all and (min-width:801px) and (max-width: 1201px) {
.name{
  top: 100px;
  left: 70%;
  font-size: 15px;
}
.slogan{
  top: 130px;
  left: 50%;
  font-size: 10px;
}
a {
  top: 300px;
  left: 60%;
  border-width: 25px;
  margin: 20px;
}
}
@media all and (min-width: 401px) and (max-width: 800px) {
.name {
  top: 1px;
  left: 45%;
}
.slogan{
  top: 5px;
  left: 25%;
  font-size: 10px;
  border: solid black;
  background-color: black;
  color: white;
}
a {
  display: block;
  top: 100px;
  left: 50%;
  border: solid black;
  border-width: 25px;
  font-size: 25px;
  padding: 15px;
}
}
@media all and (min-width: 375px) {
  body {
    background-size: auto;
  }
  .name {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
    width: 160px;
    font-size: 15px;
    top: 1px;
    left: 50%;
  }

}*/
